<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"
        >Time to start a workout!</mat-card-title
      >
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field *ngIf="!isLoading && exercises" appearance="fill">
          <mat-select
            placeholder="Choose an exercise"
            ngModel
            name="exercise"
            required
          >
            <mat-option *ngFor="let item of exercises" [value]="item">{{
              item.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <img
          style="max-width: 250px"
          *ngIf="f.value.exercise"
          [src]="f.value.exercise.url"
          alt=""
        />
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </mat-card-content>
      <mat-card-actions *ngIf="!isLoading" fxLayoutAlign="center"
        ><button
          *ngIf="exercises"
          mat-raised-button
          type="submit"
          [disabled]="f.invalid"
        >
          Start</button
        ><button
          *ngIf="!exercises"
          mat-button
          type="button"
          [disabled]="f.invalid"
          (click)="fetchExercises()"
        >
          Fetch again
        </button></mat-card-actions
      >
    </mat-card>
  </form>
</section>
